.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
.ipynb_checkpoints/
data/

#Scala/Idea stuff
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
project/project
project/target
tmp
.history
dist
/*.iml
/out
